
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div align="center">
        <br>
        <a href="/logout" class="btn btn-primary">Se déconnecter</a>
        <br><br>
        <a href="/absences" class="btn btn-primary">Vérifier les absences</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/adduser" class="btn btn-primary">Ajouter des utilisateurs</a>
        {% endif %}
        <br><br>
    </div>
    <table class="table">
        <tr align="center">
            {% if is_granted('ROLE_ADMIN') %}
                <td>ID</td>
            {% endif %}
            <td>Nom</td>
            <td>Prénom</td>
            <td>Mail</td>
            <td>Avatar</td>
            <td>Viennoiserie Favorite</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>Date de naissance</td>
                <td>Date de création</td>
                <td>Date de modification</td>
                <td>Actions</td>
            {% endif %}
        </tr>

        {% for user in tab %}
            <tr align="center">
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ user.id }}</td>
                {% endif %}
                <td>{{ user.lastname | upper }}</td>
                <td>{{ user.name | capitalize  }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <img src="{{ user.avatar }}" alt="avatar-{{ user.lastname | upper }}-{{ user.name | capitalize }}" width="40">
                </td>
                {% for pastrie in pastries %}
                    {% if pastrie.id == user.idpastries %}
                        <td>{{ pastrie.name | capitalize }}</td>
                    {% endif %}
                {% endfor %}
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ user.birthday | date('d/m/Y') }}</td>
                <td>{{ user.createdat | date('d/m/Y') }}</td>
                <td>{{ user.updatedat | date('d/m/Y') }}</td>
                <td>
                    {% if user.roles['0'] != 'ROLE_ADMIN' %}
                        <a href="/deluser?id={{ user.id }}" class="btn btn-primary">Supprimer</a>
                    {% endif %}
                    <a href="/updateuser?id={{ user.id }}" class="btn btn-primary">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <script>window.location.href = '/login'</script>
{% endif %}
</body>
</html>