{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <script>window.location.href = '/user'</script>
    {% else %}
        <h1>S'incrire</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.birthday) }}
        {{ form_row(registrationForm.avatar) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_end(registrationForm) }}
        <a href="/login">Déjà un compte ? Je me connecte !</a>
    {% endif %}
{% endblock %}
