{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Demande de congé</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.start) }}
        {{ form_row(registrationForm.end) }}
        {{ form_row(registrationForm.id_missing) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_end(registrationForm) }}
    {% else %}
        <script>window.location.href = '/absences'</script>
    {% endif %}
{% endblock %}
